//Main menu

.header-menu-secondary-nav{
	.header-menu-level1{
		.open .header-menu-level1-anchor{
			color: $contractorsLeatherBrown;

		}
	}
}

.header-logo-wrapper{
	@media(min-width: $screen-md-min){
		margin-top: $sc-base-margin*3;
	}
}

.header-profile-login-icon{
	color: $contractorsLeatherBrown;
}

.header-simplified-header{
	background: $contractorsDarkBlue;
	height: auto;
	padding: $sc-base-padding*2 0;
}