/***colors variables****/
//To have an easier way to name the colors
$nationalYellow: #FBCA33;
$nationalRed: #B93634;
$nationalDarkGrey: #3B3B3C;
$nationalGrey: #6f9ea6;
$nationalLightGrey: #58595B;
$nationalLighterGrey: #939192;
$nationalBlack: #252525;
$nationalWhite: white;
$nationalOrange: #B63932;

/****colors for elements***/
$accentColor: $nationalYellow;
$colorPrimary: $nationalYellow;
$themeColor: $nationalBlack;
$colorCopy: $nationalBlack;

$headerBg: $nationalBlack;
$subHeaderBg: $nationalRed;
$headerLinkColor: $nationalWhite;
$subHeaderLinkColor: $nationalWhite;
$headerRequestAQuoteFontColor: $nationalWhite;
$headerLevel2FontColor: $nationalBlack;
$headerLevel2FontColorHover: $nationalYellow;
$headerLinkHoverColor: $nationalWhite;

$searchIconBackground: $nationalYellow;
$searchIconColor: $nationalWhite;
$typeAheadFontColor: $nationalBlack;

$facetOptionFontColor: $nationalBlack;
$tableHeadColor: $nationalBlack;

$footerBg: $nationalBlack;
$footerSocialColor: $nationalYellow;
$footerFontColor: $nationalWhite;
$accentColorFooter: $nationalYellow;

$paginationActiveColor: $nationalBlack;
$linkFontColor: $nationalBlack;
$linkFontColorHover: $nationalYellow; 
$forgotPasswordFontColor: $nationalBlack;