/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.header-simplified-header{
	height: auto;
	background-color: $nationalBlack;
	padding: $sc-base-padding*3 0;
}

.header-simplified-header-logo{
	text-align: center;

	.header-logo-image{
		width: auto;
	}
}

.header-menu-quote{
	background-color: $nationalRed;
}