.item-details-more-info-content {
	padding: $sc-base-padding*3;
}

.product-reviews-center-container {
	padding: 0;
}

.item-details-tab-content {
	padding: 0;
	@media (min-width: $screen-sm-min) {
		padding: $sc-base-padding*3;
	}
}

.item-details-tab-content-panel {
	max-height: none;
}