#box-table-a {
  border: 1px solid #252525;
  max-width: 100%;
}
#box-table-a th {
  min-width: 10%;
  text-align: center;
  padding: 15px;
  border: 1px solid #252525;
  background-color: #252525;
  color: #fbca33;
}
#box-table-a td {
  border: 2px solid #252525;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}