/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-details-image-gallery {
	position: relative;

	.bxslider li {
		text-align: center;
	}
}

.item-details-image-gallery .social-sharing-flyout-content-social-pinterest {
	display: none;
}

.item-details-image-gallery:hover .social-sharing-flyout-content-social-pinterest {
	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.item-details-image-gallery-detailed-image{}

