.header-menu-level1-anchor {
  color: $contractorsLightBrown;
}

.header-menu-search-link {
  padding: 10px 10px 9px 10px;
}

.site-search {
  background-color: $safestyGrayLightBack;
}

.site-search-button-submit {
  background-color: $safestyYellow;
  color: $safestyIcon;
  outline: none;
  &:hover{
  	background-color: $safestyYellow;
  	color: $safestyIcon;
  }
}

.header-logo-wrapper {
  margin-top: 13px;
}

.nav-search-input-icon {
    color:  $contractorsDarkBlue;
}

.header-profile-login-icon {
    color: $safestyYellow;
}

.header-secondary-wrapper{
	height: 43px;
	background-color: $safestyYellow;

	.header-menu-secondary-nav{
		a{
			color: $safestyBlack;
			font-size: $sc-small-font-size;
			font-family: $safety-raleway-bold;
		}

		.header-menu-search{
			position: relative;

			.header-menu-search-link{
				height: 43px;
				background-color: $safestyGrayBack;
				padding: $sc-base-padding*2 $sc-base-padding*2 + 3 $sc-base-padding*2 - 1 $sc-base-padding*2 + 3;
				outline: none;
				i{
					color: $safestyIcon;
				}
			}
		}
	}
	@media(max-width: $screen-sm-max){
		height: 100%;
		background-color: $contractorsDarkBlue;
	}
}