form.get-a-quote {
  width: 254px;
  float: right;
  margin-bottom: 30px;

  h2.first {
    list-style: none;
    font-size: 19px !important;
    color: $nationalYellow;
  }

  .input-group.half {
    width: 48%;
    float: left;
    display: block;
  }

  .input-group input:not([type="checkbox"]) {
    width: 100%;
    height: 20px;
    border: 1px solid #929292;
  }

  .input-group label {
    margin-bottom: 10px;
    display: block;
    padding-left: 4px;
    font-weight: bold;
    font-size: 11px;
  }

  .input-group {
    margin-bottom: 10px;
    width: 100%;
  }

  .holder-checkbox {
    float: left;
    width: 48%;
  }

  .input-group input[type="checkbox"] + label {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }

  .holder-zipcode {
    border: 2px solid #ffc93c;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  .holder-zipcode::after {
    content: "";
    display: block;
    clear: both;
  }

  .input-group.half + .input-group.half {
    margin-left: 4%;
  }

  .holder-zipcode .input-group {
    width: 50%;
    float: left;
  }

  .holder-checkbox .input-group {
    width: 100%;
    margin: 0 0 0 11px;
    line-height: 25px;
  }

  .input-group textarea {
    width: 100%;
    height: 55px;
    resize: none;
  }

  button.get-quote-form-submit {
    @extend .button-medium;
    @extend .button-primary;
    float: right;
  }
}

ul.footer-content-newsletter {
  float: left;
  clear: left;
  margin: 30px 1% 20px;
}

form#req-quote {
  input, textarea {
    color: $sc-color-dark-copy;
  }
}

@media (max-width: 755px) {
  form#req-quote {
    float: none;
    margin: 20px auto auto;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 20px;
    width: 94%;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  

  ul.footer-content-newsletter {
    float: none;
    width: 94%;
    margin: 30px auto 20px;
  }
}