.related-items-title {
	text-align: center;
	h2,h3,h4 {
		text-transform: uppercase;
		font-size: $sc-h1-font-size;
		font-weight: $sc-font-weight-semibold;
	}
	p {
		text-transform: uppercase;
		font-size: $sc-h4-font-size;
	}
}

.multiadd-order-line {
	margin: $sc-base-margin*2 0;
	padding: $sc-base-margin*2 0;
	&>div {
		display: inline-block;
		vertical-align: top;
		padding: $sc-base-padding $sc-base-padding*2;
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
		&.multiadd-item-image {
			width: 20%;
			@media (max-width: $screen-md-min) {
				width: 100%;
				text-align: center;
			}
		}

		&.mutliadd-item-information {
			width: 45%;
			&>div {
				margin-bottom: $sc-base-margin*4;
			}
			.multi-item-information-header {
				padding: $sc-base-padding*2 $sc-base-padding*3;
				width: 100%;

				.multi-item-title {
					margin-bottom: $sc-base-margin*3;
				}
				
				.multiadd-item-status {
					&>.multi-item-price>p, , &>.quick-order-status-found-outofstock  {
						font-size: $sc-h4-font-size;
						font-weight: $sc-font-weight-light;
						text-transform: uppercase;
					}
					margin-right: $sc-base-margin*6;
					display: inline-block;
					vertical-align: middle;
				}

				.multi-item-sku {
					&>p {
						font-size: $sc-base-font-size;
						font-weight: $sc-font-weight-light;
						text-transform: uppercase;
					}
					display: inline-block;
					vertical-align: middle;
				}
			}
			.multi-item-information-featured-description {
				h1,h2,h3,h4,h5 {
					margin-bottom: $sc-base-margin*2;
				}
				p {
					margin-bottom: $sc-base-margin;
				}
			}
			@media (max-width: $screen-md-min) {
				width: 100%;
			}
		}

		&.mutliadd-item-actions {
			width: 35%;
			padding-left: $sc-base-padding*3;
			&>div {
				margin-bottom: $sc-base-margin*4;
			}

			.multiadd-item-options h4 {
				text-transform: uppercase;
				margin-bottom: $sc-base-margin*2;
				&>span {
					font-size: $sc-small-font-size;
					font-weight: $sc-font-weight-light;
				}
			}
			.multiadd-dropdown-select {
				&>button {
					&:hover{
						@include opacity(0.8);
					}
					padding: $sc-base-padding $sc-base-padding*2;
					font-size: $sc-base-font-size;
					margin: 0 $sc-base-margin $sc-base-margin*2 0;
					border: 2px solid $black;
					&:last-of-type{
						margin-right: 0;
					}
				}
			}
			.multiadd-item-quantity {
				display: inline-block;
				vertical-align: bottom;
				margin-right: $sc-base-margin*2;
				.quick-order-qty {
					label {
						float: left;
						text-transform: uppercase;
						font-size: $sc-base-font-size;
						margin-top: $sc-base-margin;
					}
					input[type="number"] {
						margin-left: $sc-base-margin;
						max-width: 60px;
						font-size: $sc-base-font-size;
						text-align: center;
					}
				}
			}

			.multi-add-item-add-cart-button {
				display: inline-block;
				vertical-align: bottom;
				&>.multi-add-to-cart-button {
					font-size: $sc-h4-font-size;
					padding: $sc-base-padding $sc-base-padding*3;
					text-transform: uppercase;
					font-weight: $sc-font-weight-semibold;
				}
			}
			@media (max-width: $screen-md-min) {
				width: 100%;
				padding-left: 0;
				margin-left: $sc-base-margin;
			}
		}
	}
}