/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/**********************************************************************************
	APPLIED FILTERS

**********************************************************************************/

// Applied Filters
//
// Markup:
//			<span class="applied-filter">
//				<span class="applied-filter-title"> Filter 4 </span> 
//				<a href="#" class="applied-filter-close">
//					<i class="applied-filter-close-icon"></i>
//				</a>
//			</span> 
// 
// Styleguide 6.1




.applied-filter {
	color: $sc-color-theme;
	margin-left: 20px;
	font-weight: $sc-font-weight-semibold;
	display: inline-block;
}

.applied-filter-close {
	@extend .icon-container;
	margin-left: 5px;
}

.applied-filter-close-icon {
	@extend .icon-close;
}


/**********************************************************************************
	PRICE RANGE
	
**********************************************************************************/

// Prince Range
//
// Markup:
// <div class="price-range">
//            <span class="price-range-start" data-range-indicator="end">$50.00</span>
//            <span class="price-range-end" data-range-indicator="start">$10,000.00</span>
//           
//           <div class="price-range-slider slider" data-facet-id="onlinecustomerprice" data-toggle="slider" data-min="50" data-max="10000" data-low="50" data-high="10000">
//                <div class="price-range-slider-bar" style="left: 0%; width: 100%;"></div>
//                <button class="price-range-slider-bar-right" data-control="low" style="left: 0%;"></button>
//                <button class="price-range-slider-bar-left" data-control="high" style="left: 100%;"></button>
//            </div>
//        </div>
// 
// Styleguide 6.2


.price-range{
	min-height:50px;
}

.price-range-end{
	@extend .pull-right;
}

.price-range-slider-bar-left ,
.price-range-slider-bar-right {
	background:none;
	border:0px;
	font-size:35px;
	color:$sc-color-theme;
	top:-25px;
	position:absolute;
	padding: $sc-base-padding *2 $sc-base-padding *3;
	margin-left: - $sc-base-padding * 3;
}
.price-range-slider-bar-left{
	@extend .icon-caret-left;
}

.price-range-slider-bar-right{
	@extend .icon-caret-right;
}

.price-range-slider-bar{
	background:$sc-color-primary;
	position:absolute;
}

.price-range-slider{
	@extend .progress; // bs
	border: 0px;
	overflow: visible;
	margin: 15px 10px 10px 0px;
	position: relative;
	height: 3px;
	background:$sc-color-range-off;
}

@media (min-width: $screen-sm-min) {
	.price-range-slider-bar-left ,
	.price-range-slider-bar-right {
		font-size: 30px;
		top:-23px;
	}

	.price-range-slider {
		height: 3px;
	}
}

/**********************************************************************************
	GENERIC PICKER
	
**********************************************************************************/

// General Picker
//
// Markup:
// <ul class="picker">
//		    <li>
//		        <a class="picker-link">
//		            <span class="picker-link-value">Option 1</span>
//		        </a>
//		    </li>
//		    <li>
//		        <a class="picker-link active">
//		            <span class="picker-link-value">Option 2</span>
//		        </a>
//		    </li>
//		    <li>
//		        <a class="picker-link disabled">
//		            <span class="picker-link-value">Option 3</span>
//		        </a>
//		    </li>
//		</ul>
// 
// Styleguide 6.3

$picker-opacity: 0.4;

%picker-link {
	display:block;
	cursor:pointer;
	cursor:hand;
	box-sizing: border-box;
}

.picker{
	li{
		display:inline-block;
		margin-right: $sc-base-margin * 2;
	}

	a {
		text-decoration:none;
		display:block;
		position:relative;
		margin-bottom: $sc-base-margin;
		
		&:hover {
			text-decoration: none;
		}

		&.active {
			span {
				border:2px solid $sc-color-dark-copy;
				color: $sc-color-dark-copy;
				background-color: $sc-color-theme-background-light
			}
		}

		&.disabled {
			opacity: $picker-opacity;

			span:hover {
				cursor: default;
				border:1px solid $sc-color-theme-light;
				color: $sc-color-theme-light;
			}
		}

	}

	span {

		@extend %picker-link;
		padding: 0 $sc-base-padding * 2;
		border:1px solid $sc-color-theme-light;
		color: $sc-color-theme;
		text-align: center;
		line-height:33px;
		font-size: 15px;
		font-weight: $sc-font-weight-semibold;

		min-width: $picker-large;

		&:hover {
			border:1px solid $sc-color-dark-copy;
			color: $sc-color-dark-copy;
		}
	}
}

.picker-lg {
	@extend .picker;
}

.picker-md {
	@extend .picker;

	li {
		margin-right: $sc-base-margin;
	}

	span {
		line-height:22px;
		padding: 0 $sc-base-padding;
		min-width: $picker-medium;
	}
}

.picker-sm {
	@extend .picker;

	li {
		margin-right: $sc-base-margin;
	}

	span {
		line-height:20px;
		padding: 0 $sc-base-padding;
		min-width: $picker-small;
	}
}

/**********************************************************************************
	COLOR PICKER
	
**********************************************************************************/

// Color Picker
//
// Styleguide 6.5

%color-picker-link-hover {
	content: ' ';
	display: block;
	position: absolute;
	border: solid 2px #ffffff;
	z-index: 10;
}

%color-picker-link-disabled {
	content: '\2715';
	border: 0;
	display: block;
	position: absolute;
	z-index: 10;
	color: #ffffff;
	top: 0;
	left: 0;
	text-align: center;
	&.white-border{
		color: $sc-color-theme-light;
		border: 0;
		top: 0;
		left: 0;
	}
}

.color-picker {
	li{
		display:inline-block;
		margin-right: $sc-base-margin;
	}

	a {
		text-decoration:none;
		display:block;
		position:relative;

		&:hover:before,
		&.active:before {
			@extend %color-picker-link-hover;
			top: 3px;
			left: 3px;
		}


		&.disabled {
			opacity: 0.4;

			&:hover:before,
			&:before {
				@extend %color-picker-link-disabled;
			}
		}

		&[data-color="white"]:hover:before,
		&[data-color="white"].active:before {
			border:2px solid $sc-color-theme-light;
		}

		&[data-color="white"].disabled:hover:before,
		&[data-color="white"].disabled:before { 
			color: $sc-color-theme-light;
			border: none;
		}
	}

	span {
		@extend %picker-link;
		@extend %color-picker-link-color;
		border:1px solid $sc-color-theme-border;
		line-height:24px;
	}
}

.facets-faceted-navigation-item-color-picker {
	img{
		width:$picker-large;
		height:$picker-large;
		display:block;
		@media (min-width: $screen-sm-min) {
			width:$picker-medium;
			height:$picker-medium;
		}
	}
}

.color-picker-lg {
	@extend .color-picker;

	a {
		&:hover:before,
		&.active:before {
			height: 30px;
			width: 30px;
		}

		&.disabled {

			&:hover:before,
			&:before {
				width: $picker-large;
				height: $picker-large;
				font-size: 30px;
			}
		}
	}

	span {
		height:$picker-large;
		width:$picker-large;
		border: none;
	}
}

.color-picker-md {
	@extend .color-picker;

	a {
		// @media (min-width: $screen-sm-min) {
		// 		height: 15px;
		// 		width: 15px;;
		// }
		&:hover:before,
		&.active:before {
			height: 30px;
			width: 30px;

			@media (min-width: $screen-sm-min) {
				height: 15px;
				width: 15px;;
			}
		}

		&.disabled {

			&:hover:before,
			&:before {
				width: $picker-large;
				height: $picker-large;
				font-size: 30px;

				@media (min-width: $screen-sm-min) {
					height: $picker-medium;
					width: $picker-medium;
					font-size: 19px;
				}
			}
		}
	}

	span {
		height:$picker-large;
		width:$picker-large;
		border: none;

		@media (min-width: $screen-sm-min) {
			height: $picker-medium;
			width: $picker-medium;
		}
	}
}

.color-picker-sm {
	@extend .color-picker;

	a {
		&:hover:before,
		&.active:before {
			height: 10px;
			width: 10px;
		}

		&.disabled {

			&:hover:before,
			&:before {
				width: $picker-small;
				height: $picker-small;
				font-size: 14px;
			}
		}
	}

	span {
		height:$picker-small;
		width:$picker-small;
		border: none;
		
	}
}

.color-picker-xs {
	@extend .color-picker;
	a {
		&:hover:before,
		&.active:before {
			height: 5px;
			width: 5px;
			border:none;
		}

		&.disabled {

			&:hover:before,
			&:before {
				width: $picker-xsmall;
				height: $picker-xsmall;
				font-size: 14px;
			}
		}
	}

	span {
		height:$picker-xsmall;
		width:$picker-xsmall;
		border: none;
	}
	.white-border{
		border: 1px solid #c7dde9;
	}
}

.item-details-options,
.facets-faceted-navigation-item-color-picker {
	margin-top: $sc-base-margin * 3;
	border-top: 1px solid $sc-color-theme-border;
	border-bottom: 1px solid $sc-color-theme-border;
	
	.white-border{
		span{
			border: 1px solid #c7dde9;
		}

		&:hover:before {
			border: solid 2px #c7dde9;
		}
	}
	.white-border.active {

		&:before {
			border: solid 2px #c7dde9;
		}		
	}
}

.facets-facet-browse-items{
	.item-views-option-color-tiles-container{
		.white-border{
			span{
				border: 1px solid #c7dde9;
			}

			&:hover:before {
				border: solid 2px #c7dde9;
			}
		}	
		.white-border.active {

			&:before {
				border: solid 2px #c7dde9;
			}		
		}
	}

}

.item-views-option-color-tile {
	img{
		width:$picker-large;
		height:$picker-large;
	}
}


.quick-view-confirmation-modal-options {
	.white-border{
		span{
			border: 1px solid #c7dde9;
		}

		&:hover:before {
			border: solid 2px #c7dde9;
		}
	}	
	.white-border.active {

		&:before {
			border: solid 2px #c7dde9;
		}		
	}

}
/**********************************************************************************
	SIZE PICKER
	
**********************************************************************************/

// USING GENERIC PICKER

/**********************************************************************************
	STOCK INFO LABELS
	
**********************************************************************************/

// Stock Info Labels
//
// Markup:
//<p class="stock-info-in">
//			<span class="stock-info-in-icon">
//				<i></i>
//			</span>
//			In Stock
//		</p>
//		<p class="stock-info-low">
//			<span class="stock-info-low-icon">
//				<i></i>
//			</span>
//			Low Stock Level
//		</p>
//		<p class="stock-info-out">
//			<span class="stock-info-out-icon">
//				<i></i>
//			</span>
//			Out of Stock
//		</p>
//
// Styleguide 6.6




.stock-info-in {
	@extend .message-success;
}

.stock-info-in-icon {
	@extend .icon-container-success;

	i {
		@extend .icon-success;
	}
}

.stock-info-low {
	@extend .message-warning;
}

.stock-info-low-icon {
	@extend .icon-container-warning;

	i {
		@extend .icon-warning;
	}
}

.stock-info-out {
	@extend .message-error;
}

.stock-info-out-icon {
	@extend .icon-container-error;

	i {
		@extend .icon-error;
	}
}

.stock-info-description {
	@extend .message-info;
}

.item-view-stock-icon-description {
	@extend .fa;
	@extend %fa-info-circle;
	color: $sc-color-info;
	font-size: $sc-base-font-size;
}