<section class="category-list-header">
	<div class="category-main-image"><img src="{{image}}" /></div>
	<div class="category-main-description">
	    	<h1>{{pageTitle}}</h1>
	    	<h3>{{{description}}}</h3>
	</div>
</section>
