/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

$sc-main-nav-height: 69px;
$sc-main-nav-width: 130px;
$sc-main-nav-link-height: 44px;
$sc-secondary-menu-height: 40px;
$sc-sidebar-size: 246px;

.header-message {
	@extend .container;
	padding: 0;

	@media (min-width: $screen-md-min) {
		padding-left: 15px;
		padding-right: 15px;
	}

	.global-views-message {
		margin-bottom: 0;
		width: 100%;
	}
}

.header-main-wrapper {
	position: relative;
	background-color: $headerBg;
}

.header-main-nav {
	@extend .container;
	min-height: $sc-main-nav-height;
	background-color: $headerBg;

	@media (min-width: $screen-md-min) {
		background-color: $headerBg;
	}
}

.header-content {
	@extend .clearfix;
}
///////////////////////////////////////////////////////////////
//header logo

.header-logo-wrapper {
	float: left;
}

///////////////////////////////////////////////////////////////
//header sidebar toggle
.header-sidebar-toggle-wrapper {
	margin-top: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-bottom: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-right: $sc-base-margin * 3;
	float: left;

	@media(min-width: $screen-md-min) {
		display: none;
	}
}

.header-sidebar-toggle {
	@extend .icon-button-secondary;
	width: $sc-target-size;
	height: $sc-target-size;
	text-align:center;
}

.header-sidebar-toggle-icon {
	@extend .fa;
	@extend %fa-bars;
	color: #fff;
	font-size: 24px;
	margin-top:2px;
}

///////////////////////////////////////////////////////////////
//main nav positioning

.header-right-menu {
	float: right;
	margin-top: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-bottom: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
}

.header-menu-profile,
.header-menu-quote,
.header-menu-settings {
	float: left;
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}
.header-menu-settings {
	position: relative;
}

.header-menu-settings-dropdown-title {
	margin-bottom: $sc-small-margin;
}

.header-menu-cart {
	float: left;
	position: relative;

	@media (min-width: $screen-md-min) {
		margin-left: $sc-base-margin * 4;
	}
}
.header-menu-search-icon,
.header-menu-searchmobile-icon {
	@extend .fa;
	@extend %fa-search;
}

.header-menu-searchmobile-icon{
	color: #fff;
	font-size: $sc-h3-font-size;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
}

.header-menu-searchmobile {
	float: left;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

%header-link {
	display: block;
	min-width: $sc-target-size;
	height: $sc-target-size;
	line-height: $sc-target-size;
	color: $headerRequestAQuoteFontColor;
	text-align: center;
	position: relative;
}

%header-link:hover, %header-link:focus {
	color: $headerLinkHoverColor;
}
%header-link:active {
	color: $sc-color-dark-copy;
}

.header-menu-settings-link,
.header-menu-cart-link,
.header-menu-searchmobile-link
{
	@extend %header-link;
}

.header-menu-searchmobile-link {
	overflow: hidden;
}
.header-menu-settings-link {
	padding: 0 $sc-base-padding * 2;
}

///////////////////////////////////////////////////////////////
//main nav styles

.header-menu-cart-link {
	overflow: hidden;
	color: $sc-color-theme-light;
	background-color: $sc-color-theme-background;
}

.header-menu-cart-link-enabled{
	&.header-menu-cart-link{
		@extend .icon-button-primary;
		color: $sc-color-secondary;
	}
	.header-menu-cart-icon{
		color: #fff;		
	}
}

.header-menu-cart-legend {
	background-color: $sc-color-theme-background-light;
	padding: 0 $sc-base-padding * 3;
	float:right;
	display: none;

	@media(min-width: $screen-md-min) {
		display: inline;
	}
}

.header-menu-cart-icon {
	@extend .fa;
	@extend %fa-shopping-cart;
	font-size: $sc-h3-font-size;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
	color: $sc-color-theme-light;
}

.header-menu-settings-icon {
	font-size: $sc-h4-font-size;
	@extend .fa;
	@extend %fa-globe;
}

.header-menu-settings-carret {
	margin-left: $sc-base-margin;
	@extend .fa;
	@extend %fa-angle-down;
}

///////////////////////////////////////////////////////////////
//secondary nav styles

.header-secondary-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: - $sc-sidebar-size;
	width: $sc-sidebar-size;
	background-color: $sc-color-theme-background;
	// z-index: 1000;

	@media (min-width: $screen-md-min) {
		position: relative;
		background-color: $sc-color-theme-background-light;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		height: $sc-secondary-menu-height;
		border-top: 1px solid $sc-color-theme-border;
		border-bottom: 1px solid $sc-color-theme-border;
	}
}


///////////////////////////////////////////////////////////////
//header settings

.header-menu-settings-dropdown {
	display: none;
	position: absolute;
	z-index: 1001;
	background: #FFF;
	padding: $sc-base-padding * 6;
	left: -130px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border: 1px solid $sc-color-theme-border;
	width: 335px;

	&:before {
		position: absolute;
		top: -7px;
		right: 165px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $sc-color-theme-border;
		border-left: 7px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}

	&:after {
		position: absolute;
		top: -6px;
		right: 166px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid $sc-color-tertiary;
		border-left: 6px solid transparent;
		content: '';
	}
}

.open .header-menu-settings-dropdown {
	display: block;
}
.header-site-search {
	display: none;
	width: 100%;
}
.header-menu-cart-dropdown{}
.header-sidebar-overlay{}