/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.header-logo {
	display: block;
	line-height: $sc-main-nav-height;
	height: $sc-main-nav-height;
	width: auto;
	margin: 0 auto;

	@media (max-width: $screen-md-min) {
		height: auto;
	}

	@media (max-width: $screen-xs-min) {
		width: $sc-main-nav-width;
	}
}

.header-logo-image {
    width: auto;
	vertical-align: top;
	height:100%;
	@media (max-width: $screen-sm-min) {
		width: auto;
		height:auto;
		max-height: 100%;
		vertical-align: middle;
	}
}

.header-logo-sitename{}