/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/


$sc-secondary-menu-height: 40px;


.header-menu-search-icon{
	@extend .fa;
	@extend %fa-search;
	color: $searchIconColor;
}

.header-menu-searchmobile-icon {
	@extend .fa;
	@extend %fa-search;
	color: white;
}

.header-sidebar-toggle {
	@extend .icon-button-primary;
	width: $sc-target-size;
	height: $sc-target-size;
	text-align:center;
}

///////////////////////////////////////////////////////////////
//secondary nav styles

.header-secondary-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: - $sc-sidebar-size;
	width: $sc-sidebar-size;
	background-color: $subHeaderBg;
	// z-index: 1000;

	@media (min-width: $screen-md-min) {
		position: relative;
		background-color: $subHeaderBg;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		height: $sc-secondary-menu-height;

		border-bottom: 0;border-top: 0;
	}
}


///////////////////////////////////////////////////////////////
//header settings

.header-menu-settings-dropdown {
/*	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
}