/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

$sc-secondary-menu-height: 40px;

.header-menu-level1-anchor {
  display: block;
  position: relative;
  height: $sc-secondary-menu-height;
  line-height: $sc-secondary-menu-height;
  padding: 0 $sc-base-padding*2;
  margin-right: $sc-base-margin;
  font-weight: $sc-font-weight-normal;
  color: $subHeaderLinkColor;
  @extend .small-title;
}

.header-menu-search-link {
  @extend .middle-title-navigable;
  font-size: $sc-h2-font-size;
  background: $searchIconBackground;
  padding: $sc-base-padding * 2;
  color: $searchIconColor;
  cursor: pointer;
  position: relative;
  line-height: 20px;
}

.header-menu-searchmobile-link {
  @extend .icon-button-primary;
  margin-right: $sc-base-margin * 2;
  cursor: pointer;
}

.header-menu-searchmobile-link.active {
  background: $sc-color-primary-active;
}

.header-menu-level2-anchor {
  @media (min-width: $screen-md-min) {
    pointer-events: auto;
  }
}