/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.home-cms {
	@extend .container;

	.cms-content-html {
	}

	&>section {
		margin-bottom: 0;
		@media(min-width: $screen-sm-min){
					margin-bottom: $sc-base-margin*3;
		}
		&.home-cms-page-banner-top {
			padding: $sc-base-padding*2 $sc-base-padding;
			text-align: center;
			border-bottom: 10px solid $accentColor;
		}
	}

	.home-banner-main {

	    @extend .row;
	    margin: $sc-base-margin*2+3 0 $sc-base-margin*2;
	    margin-left: -10px;
    	margin-right: -10px;
    	@media(min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    		margin: $sc-base-margin*2+3 0 $sc-base-margin*2;
		    margin-left: -7px;
	    	margin-right: -7px;
    	}
    	@media(min-width: $screen-sm-min){
    		margin-left: -10px;
    		margin-right: -10px;
    	}
	    &>.home-banner-main-cell { 
	    @extend .col-md-3;
	    @extend .col-sm-3;
	    @extend .col-xs-12;
	    padding: 0 $sc-base-padding*2 $sc-base-padding*2;

	    img{
	    	width: 100%;
	    }

	    @media(min-width: $screen-sm-min){
	    	padding: 0 $sc-base-padding*2 0;
	    }
	    /*
	    &:first-of-type {
	      padding-left: 0;
	      padding-right: $sc-base-padding*6;
	    }
	    &:last-of-type {
	      padding-left:  $sc-base-padding*6;
	      padding-right: 0;
	    }*/
	    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
	    	padding: $sc-base-padding+2;
			text-align: center;
			width: 50%;
	    }
	  }

	}

	.home-banner-main-cell-bg{
	  background:$sc-color-slide-background;
	  width: 100%;
	  overflow: hidden;
	}

	.home-banner-main-cell-text{
	  display:inline-block;
	  color:$sc-color-theme;
	  font-size:$sc-h2-font-size-mobile;
	  text-transform:uppercase;
	  font-weight:$sc-font-weight-light;
	  line-height: 82px;
	  float: left;
	  @media (min-width: $screen-sm-min) {
	    display:none;
	  }
	}

	.home-merchandising-zone {

	  .merchandising-zone {
	    border: 0;
	  }
	  .merchandising-zone-title {
	      display: none;
	  }
	  .item-cell-main-image {
	    margin:0 auto;
	    width: $img-medium;
	  }
	}
}

.about-us-landing-page-container {
	h1,h2,h3,h4 {
		margin: $sc-base-margin*3 0 $sc-base-margin*2;
	}
	p {
		margin-bottom: $sc-base-margin*2;
		line-height: $sc-h2-font-size;
	}
	ul {
		margin-bottom: $sc-base-margin*2;
		&>li {
			margin-bottom: $sc-base-margin*0.5;
			line-height: $sc-h2-font-size;
		}
	}
}

.home-cms-page-banner-bottom-content {
    @extend .clearfix;
}
.home-cms-page-banner-bottom {
    @extend .col-sm-4;
}
.home-cms-page-banner-bottom-main {
    @extend .col-sm-12;
}

.home-cms-page-main{}
.home-cms-page-merchandising{
	.cms-content-merchzone{
		position: relative;
	} 
}