/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.home-cms {
	.home-cms-page-banner-top {
		background-color: $nationalGrey;
		color: $nationalWhite;
	}
}

.about-us-landing-page-container {
	a {
		color: $nationalLightGrey;
		&:hover {
			@include opacity(0.7);
		}
	}
}

.home-cms-page-merchandising {
	.merch-zone-main-title {
		margin: $sc-base-margin*2 0;
		text-align: center;
	}
	margin: $sc-base-margin*2 0;
	position: relative;
	h2 {
		color: $nationalOrange;
	}
	a, h3, h4, h5, b {
		color: $nationalOrange;
		font-size: $national-merchzone-item-name-size;
	}
	.bx-viewport {
    	height: auto !important;
	}
	.item-details-carousel-prev, .item-details-carousel-next {
		border: none;
		background-color: transparent;
		top: 40%;
		&:hover {
			@include opacity(0.6);
			background-color: transparent;
			color: $nationalOrange;
		}
		&>i {
			font-size: $national-related-description-title-size;
		}
	}
	.cms-content-merchzone{
		position: relative;
	} 
}