<style>
	.fixed-ratio-resize { /* basic responsive img */
		max-width: 100%;
		height: auto;
		width: auto\9; /* IE8 */
	}

	.contact-us-block {
		margin-bottom: 20px;
	}

	.contact-us-block iframe{
		width: 100%;
	}

	.contact-us-block .small-font-size {
		font-size: 16px;
	}
</style>

<div class="col-md-6 col-xs-12 contact-us-block"><iframe marginheight="0" marginwidth="0"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.4513047240102!2d-85.66548744874545!3d42.88442407905288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819b3b8ae0062cf%3A0xa2553721bca830e2!2sNational+Ladder+%26+Scaffold+Co!5e0!3m2!1sen!2sus!4v1461248525080" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	<div><a href="http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=national+ladder+grand+rapids&aq=&sll=42.509755,-83.104448&sspn=0.008241,0.018175&gl=us&ie=UTF8&hq=national+ladder&hnear=Grand+Rapids,+Kent,+Michigan&t=m&cid=11697316225203319010&ll=42.894831,-85.65834&spn=0.075456,0.102997&z=12&iwloc=A" style="color: rgb(0, 0, 255); text-align: left; font-size: 12px;">View Larger Map</a></div>
	<p class="small-font-size">
		23-44th Street SE<br/>
		Grand Rapids, MI 49548<br/>
		1-800-286-6162
	</p>
</div>

<div class="col-md-6 col-xs-12 contact-us-block">
	<iframe marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2941.235304521487!2d-83.10693604875627!3d42.50780727907505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824c5665f96e15b%3A0xde8729d2839ab547!2sNational+Ladder+%26+Scaffold+Co!5e0!3m2!1sen!2sus!4v1461248350699" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	<div><a href="http://maps.google.com/maps?client=safari&oe=UTF-8&ie=UTF8&q=national+ladder+madison+heights&fb=1&gl=us&hq=national+ladder&hnear=0x8824c560e64063fb:0xfe0210da6a27be1d,Madison+Heights,+MI&cid=0,0,16034830982403765575&t=m&ll=42.510704,-83.106594&spn=0.037962,0.051498&z=13&source=embed" style="color: rgb(0, 0, 255); text-align: left; font-size: 12px;">View Larger Map</a></div>
	<p class="small-font-size">
		29350 John R Road<br/>
		Madison Heights, MI 48071<br/>
		TOLL FREE: 1-888-725-5995<br/>
		FAX: 1 (248) 399-7818
	</p>
</div>

<div class="col-md-6 col-xs-12 contact-us-block">
	<div><img src="http://national.production.na1.netsuitestaging.com/site/images/Madison_Heights_location_National_Ladder.jpg"/></div>
	<p>
		<h3>Store Hours</h3>
		Monday - Friday: 8 am - 5pm<br/>
	    Saturday: 9 am to 12 pm<br/>
		Sunday: Closed
	</p>
</div>

<div class="col-md-6 col-xs-12 contact-us-block">
	<div><img src="http://national.production.na1.netsuitestaging.com/site/images/Grand_Rapids_Location_National_Ladder.jpg"/></div>
	<p>
		<h3>Store Hours</h3>
		Monday - Friday: 8 am - 5pm 
		<br/>
		Saturday: 9 am to 12 pm 
		<br/>
		Sunday: Closed
	</p>
</div>

<div class="col-md-12 col-xs-12">
	<div><img class="fixed-ratio-resize" src=" http://national.production.na1.netsuitestaging.com/site/images/USAMAP_Distribution.jpg "/></div>
	<h4>To facilitate quick delivery and reduce shipping costs we ship from various supplier and manufacturer's locations across the country.</h4>
</div>
