/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-faceted-navigation-item-icon-ok {
	@extend .fa;
	@extend .fa-plus;
}

.facets-faceted-navigation-item-icon-plus {
	@extend .fa;
	@extend .fa-plus;
}

.facets-faceted-navigation-item-optionlist-extra-button {
	//@extend .button-tertiary;
	//@extend .button-small;
}

.facets-faceted-navigation-item-optionlist-extra-wrapper {
	button.facets-faceted-navigation-item-optionlist-extra-button {
		margin: $sc-base-margin*2 0;
		text-decoration: none;
		background: $safestuDarkBlue; 
		border: 0;
		color: $sc-color-tertiary;
		padding: $sc-base-padding*2 $sc-base-padding*3;
		outline: none;
		&:hover{
			background: $safetySeeMoreHover;
		}
	}
}

.facets-faceted-navigation-item-facet-group {
	@extend .facets-faceted-navigation-facet-group;
}

.facets-faceted-navigation-item-facet-group-expander {
	@extend .facets-faceted-navigation-facet-group-expander;
}

.facets-faceted-navigation-item-facet-group-expander-icon {
	@extend .facets-faceted-navigation-facet-group-expander-icon;
}

.facets-faceted-navigation-item-facet-group-wrapper {}

.facets-faceted-navigation-item-facet-group-content {}

.facets-faceted-navigation-item-facet-optionlist {}

.facets-faceted-navigation-item-facet-optionlist-extra {}

.facets-faceted-navigation-item-facet-group-title {
	@extend .facets-faceted-navigation-facet-group-title;
}

.facets-faceted-navigation-item-facet-option {
	@extend .facets-faceted-navigation-facet-option;
	&:hover{
		color: $safestyYellow;
	}
}

.facets-faceted-navigation-item-facet-option-circle {
	@extend .facets-faceted-navigation-facet-option-circle;
}

.facets-faceted-navigation-item-filter-delete {}

.facets-faceted-navigation-item-filter-delete-icon {}

.facets-faceted-navigation-item-alt-caption {
	display:none;
}

.facets-faceted-navigation-item-facet-multi {
	@extend .input-checkbox;
}