.global-views-breadcrumb-item {
	&>a {
		color: $black;
	}
}

.breadcrumb-item-active, 
.global-views-breadcrumb-item-active{
	color: $contractorsLeatherBrown;
	font-weight: $sc-font-weight-semibold;
}