.related-items-title {
	h2,h3,h4 {
		color: $black;
		font-size: $national-related-description-title-size;
	}
	p {
		color: $nationalLighterGrey;
		font-size: $national-related-description-subtitle-size;
	}
}

.multiadd-order-line {
	border-bottom: 2px solid $sc-color-theme-light;
	&:first-of-type {
		border-top: 2px solid $sc-color-theme-light;
	}
	.multi-item-information-header {
		background-color: $sc-color-theme-border;
	}
	.multi-item-price>p, i.quick-order-status-found-outofstock {
		color: $nationalLighterGrey;	
	}
	.mutliadd-item-actions {
		.multiadd-item-options h4 {
			color: $black;
			&>span {
				color: $sc-color-theme-light;
			}
		}
		.multiadd-dropdown-select {
			&>button {
				&.selected {
					background-color: $sc-color-theme-light;
				}
				background-color: $white;
				color: $black;
			}
		}
		.quick-order-qty {
			input[type="number"] {
				border: 1px solid $nationalLighterGrey;
				padding: $sc-base-padding $sc-base-padding*2;
			}
		}
		.multi-add-to-cart-button {
			color: $nationalWhite;
			background-color: $nationalGrey;
		}
	}
}