/***colors variables****/
//To have an easier way to name the colors
$contractorsBlack: #213340;
$contractorsOrange: #E56C43;
$contractorsSkyblue: #B8CBC9;
$contractorsLeatherBrown: #e56f4b;
$contractorsLightBlue: #b8ccca;
$contractorsDarkBlue: #233038;
$contractorsBrown: #A49380;
$contractorsLightBrown: #a3947f;
$contractorsGrey: #ECECE4;
$contractorsWhite: white;

$nationalYellow: #FBCA33;
$nationalRed: #B93634;
$nationalDarkGrey: #3B3B3C;
$nationalGrey: #6f9ea6;
$nationalLightGrey: #58595B;
$nationalLighterGrey: #939192;
$nationalBlack: #252525;
$nationalWhite: white;
$nationalOrange: #B63932;

/****colors for elements***/
$headerBg: $contractorsDarkBlue;
$footerBg: $contractorsBlack;
$subHeaderBg: $contractorsOrange;
$accentColor: $contractorsBrown;
$subHeaderLinkColor: $contractorsWhite;
$accentColorFooter: $contractorsBrown;
$colorPrimary: $contractorsBrown;
$themeColor: $contractorsBlack;
$footerFontColor: $contractorsWhite;
$facetOptionFontColor: $contractorsBlack;
$headerRequestAQuoteFontColor: $contractorsBrown;

$headerLevel2FontColor: $contractorsBlack;
$headerLevel2FontColorHover: $contractorsBrown;
$headerLinkHoverColor: $contractorsWhite;
$colorCopy: $contractorsBlack;
$tableHeadColor: $contractorsBlack;
$footerSocialColor: $contractorsBrown;


$accentColor: $nationalYellow;
$colorPrimary: $contractorsLightBlue;
$themeColor: $nationalBlack;
$colorCopy: $nationalBlack;

$headerBg: $contractorsDarkBlue;
$subHeaderBg: $contractorsDarkBlue;
$headerLinkColor: $nationalWhite;
$subHeaderLinkColor: $nationalWhite;

$headerLevel2FontColor: $nationalBlack;
$headerLevel2FontColorHover: $nationalYellow;
$headerLinkHoverColor: $nationalWhite;

$searchIconBackground: $contractorsLightBlue;
$searchIconColor: $contractorsDarkBlue;
$typeAheadFontColor: $nationalBlack;

$facetOptionFontColor: $nationalBlack;
$tableHeadColor: $nationalBlack;

$footerBg: $nationalBlack;
$footerSocialColor: $nationalYellow;
$footerFontColor: $nationalWhite;
$accentColorFooter: $nationalYellow;

$paginationActiveColor: $nationalBlack;
$linkFontColor: $nationalBlack;
$linkFontColorHover: $contractorsLeatherBrown;
$forgotPasswordFontColor: $nationalBlack;